{% comment %} {% if user in course.borrowers.all %}
<div class="w-full flex mt-5 justify-center">
  <div class="w-10/12 rounded-lg">
    <form method="post">
      <h1 class="text-center text-4xl">Add Comment</h1>
      {% csrf_token %} {% for field in comment_form %}
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="{{ field.id_for_label }}">
          {{ field.label_tag }}
        </label>
        <div class="border rounded focus:border-black">{{ field }}</div>
        <p class="text-red-500 text-xs italic">{{ field.errors|striptags }}</p>
      </div>
      {% endfor %}
      <input
        class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5 mx-auto"
        type="submit"
        value="Submit" />
    </form>
  </div>
</div>
{% endif %} {% endcomment %}

{% if user in course.borrowers.all %}
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Add Comment</h2>
                    <form method="post">
                        {% csrf_token %} 
                        {% for field in comment_form %}
                        <div class="mb-3">
                          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                          <div class="border rounded focus-border-black">{{ field }}</div>
                          <p class="text-danger">{{ field.errors }}</p>
                        </div>
                        {% endfor %}
                        <input class="btn btn-primary d-block mx-auto" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} 
