<div class="card mx-24 p-2">
  <h4 class="text-2xl px-4">Total Comments: {{comments | length}}</h4>
  {% for comment in comments %}
  <div class="card-body border m-2 bg-gray-200 rounded-lg px-4">
    <h6 class="card-subtitle mb-2 text-muted">{{comment.created_on}}</h6>
    <p><b>{{comment.name}}</b></p>
    <p>
      <strong>Email:</strong>
      <a class="text-decoration-none" href="mailto:{{comment.email}}"
        >{{comment.email}}</a
      >
    </p>
    <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div>
