{% load static %}
{% comment %} <div class="card mx-24 p-2">
  <h4 class="text-2xl px-4">Total Comments: {{comments | length}}</h4>
  {% for comment in comments %}
  <div class="card-body border m-2 bg-gray-200 rounded-lg px-4">
    <h6 class="card-subtitle mb-2 text-muted">{{comment.created_on}}</h6>
    <p><b>{{comment.name}}</b></p>
    <p>
      <strong>Email:</strong>
      <a class="text-decoration-none" href="mailto:{{comment.email}}"
        >{{comment.email}}</a
      >
    </p>
    <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div> {% endcomment %}

<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Comments</h6>
                    <h1 class="display-4">What Say Our Students</h1>
                </div>
                <p class="m-0">Our students express utmost satisfaction upon enrolling in our courses. Their positive feedback reflects their contentment and appreciation for the quality of instruction and learning experience provided. We are honored to contribute to their educational journey and strive to maintain our commitment to excellence.</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                  {% for comment in comments %}
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>{{comment.body}}</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                          <div>
                              <h5>{{comment.name}}</h5>
                              <span>{{comment.email}}</span><br>
                              <span>{{comment.created_on}}</span>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->