{% extends 'base.html' %} 
{% load static %}
{% block content %} 

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Change Password</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase"><a class="text-white" href="">Profile</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Change Password</p>
        </div>
    </div>
</div>
<!-- Header End -->

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger mt-2 text-center" role="alert">
      <strong>Error!</strong> {{ error }}
    </div>
  {% endfor %}
{% endif %}

<div class="container">
  <div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-md-6 my-auto">
        <img src="{% static "img/reset_password.svg" %}" alt="">
    </div>
    <div class="col-lg-5 my-auto">
      <div class="card">
        <div class="card-body">
          <form method="post" class="needs-validation" novalidate>
            {% csrf_token %} 
            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %} 
            {% for field in form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              <input class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
              {% if field.errors %} 
                {% for error in field.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} 
              {% endif %} 
            </div>
            {% endfor %}
            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}