{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Login</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Login</p>
        </div>
    </div>
</div>
<!-- Header End -->

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger mt-2 text-center" role="alert">
      <strong>Error!</strong> {{ error }}
    </div>
  {% endfor %}
{% endif %}


<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-md-5 my-auto">
        <img src="{% static "img/login.svg" %}" alt="">
    </div>
    <div class="col-md-4 my-auto">
        <div class="bg-white p-5 my-5">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.password|as_crispy_field }}
                </div>
                
                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}