{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %} 
{% block content %}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Register</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Register</p>
        </div>
    </div>
</div>
<!-- Header End -->

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>Error!</strong>
    <p>{{ error }}</p>
</div>
{% endfor %}
{% endif %}

<div class="bg-image">
    <div class="row justify-content-center p-3">
        <div class="col-md-8 bg-white">
            <form method="post" enctype="multipart/form-data" class="m-5">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}
                <div class="form-row">
                    <div class="col-md-12">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
                    {{ form.birth_date }}
                    {% if form.birth_date.errors %}
                    {% for error in form.birth_date.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                    {{ form.gender }}
                    {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>
                    {{ form.profession }}
                    {% if form.profession.errors %}
                    {% for error in form.profession.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.street_address.id_for_label }}">{{ form.street_address.label }}</label>
                    {{ form.street_address }}
                    {% if form.street_address.errors %}
                    {% for error in form.street_address.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                    {{ form.city }}
                    {% if form.city.errors %}
                    {% for error in form.city.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    <label for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}</label>
                    {{ form.postal_code }}
                    {% if form.postal_code.errors %}
                    {% for error in form.postal_code.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                    {{ form.country }}
                    {% if form.country.errors %}
                    {% for error in form.country.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}