{% load static %}
<div class="w-3/4">
    <h2 class="text-2xl font-bold mb-4 text-center">{{data|length}} results found</h2>
    <div class="mb-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 space-y-2 overflow-y-auto" style="max-height: 500px;">
        {% for course in data %}
        <div class="bg-white p-4 shadow-md rounded-md">
            <div class="flex justify-center">
                {% if course.image %}
                <img style="height: 200px; object-fit: cover;" src="{{course.image.url}}" class="img-fluid" alt="{{course.title}}">
                {% else %}
                <img style="height: 200px; object-fit: cover;" class="img-fluid" alt="No Image Available"></img>
                {% endif %}
            </div>
            <div class="text-center">
                <h3 class="text-lg font-bold mb-2">{{course.title}}</h3>
                <p style="height: 80px;" class="text-gray-600">{{course.content |truncatewords:10 }}</p>
                <p class="text-blue-500 font-bold mb-1">Author : <span class="text-gray-600">{{course.author}}</span></p>
                <p class="text-blue-500 font-bold mb-2">
                    Category : {% for j in course.category.all %}
                    <span class="text-gray-600">{{j.name}}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="text-center mt-5">
                {% if request.user.is_authenticated %}
                <a href="{% url 'details_course' course.id %}" class="bg-blue-900 text-white py-1 px-2 rounded-md hover:bg-blue-600">View Details</a>
                {% else %}
                <a href="{% url 'login' %}" class="bg-blue-900 text-white py-1 px-2 rounded-md hover:bg-blue-600">View Details</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>