{% extends 'base.html' %} 
{% load static %}

{% block content %}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center my-5 py-5">
        <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
        <h1 class="text-white display-1 mb-5">Education Courses</h1>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-fluid py-5" id='about'>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                    <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                </div>
                <p>Accessibility is key, ensuring that education is not confined by physical limitations. With just a click, learners can access a wealth of knowledge anytime, anywhere, fitting seamlessly into their busy lifestyles. Whether it's enhancing professional skills, pursuing academic interests, or exploring new passions, this platform offers a plethora of opportunities for growth and development</p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">50</h1>
                            <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">70</h1>
                            <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">20</h1>
                            <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">365</h1>
                            <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                    <h1 class="display-4">Why You Should Start Learning with Us?</h1>
                </div>
                <p class="mb-4 pb-2">Our platform is dedicated to providing high-quality educational content curated by experts in various fields. Whether you're a beginner or an advanced learner, you'll find courses designed to meet your needs and help you achieve your learning goals</p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Skilled Instructors</h4>
                        <p>We pride ourselves on having a team of highly skilled and experienced instructors who are dedicated to providing you with the best possible learning experience</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>International Certificate</h4>
                        <p>We offer internationally recognized certificates upon successful completion of our courses</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>Online Classes</h4>
                        <p class="m-0">You can access course materials, lectures, and assignments from anywhere with an internet connection and at any time that suits your schedule</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->


<!-- Courses Start -->
<div class="container-fluid px-0 py-5" id='courses'>
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                <h1 class="display-4">Checkout New Releases Of Our Courses</h1>
            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        {% for course in data %}
        <div class="courses-item position-relative">
            <img class="img-fluid" src="{{course.image.url}}" alt="">
            <div class="courses-text">
                <h4 class="text-center text-white px-3">{{course.title}}</h4>
                <div class="border-top w-100 mt-3">
                    <div class="d-flex justify-content-between p-4">
                        <span class="text-white"><i class="fa fa-user mr-2"></i>{{course.author}}</span>
                        <span class="text-white"><i class="fa fa-star mr-2"></i>4.5 <small>(250)</small></span>
                    </div>
                </div>
                <div class="w-100 bg-white text-center p-4" >
                    <a class="btn btn-primary" href="{% url 'details_course' course.id %}">Course Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Courses End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="section-title text-center position-relative mb-5">
            <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Instructors</h6>
            <h1 class="display-4">Meet Our Instructors</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
            {% for user_account in user %}
            {% if user_account.profession == 'Teacher' %}
            <div class="team-item">
                {% if user_account.image %}
                <img class="img-fluid w-100" src="{{user_account.image.url}}" alt="">
                {% endif %}
                <div class="bg-light text-center p-4">
                    <h5 class="mb-3">{{user_account.user.first_name}} {{user_account.user.last_name}}</h5>
                    <p class="mb-2">{{user_account.profession}}</p>
                    <div class="d-flex justify-content-center">
                        <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Comments</h6>
                    <h1 class="display-4">What Say Our Students</h1>
                </div>
                <p class="m-0">Our students express utmost satisfaction upon enrolling in our courses. Their positive feedback reflects their contentment and appreciation for the quality of instruction and learning experience provided. We are honored to contribute to their educational journey and strive to maintain our commitment to excellence.</p>
            </div>
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel">
                  {% for comment in comments %}
                    <div class="bg-white p-5">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <p>{{comment.body}}</p>
                        <div class="d-flex flex-shrink-0 align-items-center mt-4">
                          <div>
                              <h5>{{comment.name}}</h5>
                              <span>{{comment.email}}</span><br>
                              <span>{{comment.created_on}}</span>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->


<!-- Contact Start -->
<div class="container-fluid py-5" id='contact'>
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Our Location</h4>
                            <p class="m-0">123 Street, New York, USA</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-5">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-phone-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Call Us</h4>
                            <p class="m-0">+012 345 6789</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-envelope text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Email Us</h4>
                            <p class="m-0">info@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Need Help?</h6>
                    <h1 class="display-4">Send Us A Message</h1>
                </div>
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Name" required="required">
                            </div>
                            <div class="col-6 form-group">
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Your Email" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Subject" required="required">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Message" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}


{% comment %} {% extends 'base.html' %} 
{% load static %} 
{% block head_title %}Dev IT{% endblock %} 
{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
  <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-8 pb-16 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
    <h1 class="font-bold text-4xl my-4">Welcome to Dev IT</h1>
    <p class="leading-normal mb-4">
      Dev IT is a leading technology company specializing in software development, IT consulting, and digital solutions. With a team of experienced professionals, Dev IT delivers innovative solutions tailored to meet the unique needs of businesses across various industries. From web and mobile app development to cloud computing and cybersecurity, Dev IT provides comprehensive services to help organizations thrive in today's digital landscape. With a commitment to excellence and customer satisfaction, Dev IT is your trusted partner for all your technology needs.
    </p>
    <div class="flex justify-end w-full">
      <a
        href="{% url 'register' %}"
        class="bg-blue-900 text-white rounded-none hover:bg-white hover:text-blue-900 hover:border-blue-900 shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent"
        >Register</a
      >
    </div>
  </div>
  <div class="flex flex-col w-full lg:w-1/2 justify-center pt-12 pb-24 px-6 bg-white rounded-2xl bg-opacity-70 mx-3">
    <img class="rounded-2xl" src="{% static 'dev_it.jpeg' %}" />
  </div>
</div>

<div class="container mx-auto my-16 p-4">
  {% include 'categories.html' %}
  {% include 'courses.html' %}
</div>
{% endblock %} {% endcomment %}
